service1/build
service1/frontend/build
service1/frontend/node_modules

service2/build

micronautApp/build

eureka/build

spring-admin/build

elasticsearch-data

docker-compose-viz-mermaid-1.2.0.jar

.idea/sonarlint

filebeat/data

